@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');





.body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    position: relative;
}


/*------- Navigation ----------*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    background: transparent;
}


/*------------------ Landing Page--------------*/

.callout-container {
    background: url('/assets/images/house.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.jumbotron {
    background-color: transparent;
    text-transform: uppercase;
}

.jumbotron-header {
    color: #fff;
    font-weight: 700;
}

.slogan {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}





/*------------------ About Us--------------*/

.page-header {
    text-align: center;
}


.about-img{
    position: relative;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}


.about-img {
    background-image: url('/assets/images/workshop.jpg');
}



.jumbotron-contact {
    background-color: #044bbf;
}

/*------------------ Types of Woods--------------*/


.jumbotron-wood {
    background: url('/assets/images/forest.jpg') no-repeat bottom right fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    font-style: italic;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*------------------ Video --------------*/


.embed-responsive-16by9::before {
     padding-top: 100px; 
}

/*------------------ Contact--------------*/


.contact-form {
    position: relative;
    
}


